@import "~bootstrap/scss/bootstrap";

.ms_thumb{
    height: 350px;
    object-fit: cover;
}

.ms_card{
    width: calc(100% / 5);
    box-shadow: 2px 0px 10px 0px #413b6b;
}

// Home
body{
    background-color: #1c0b2b;
}

// Hover
.my_btn:hover{
    box-shadow: 2px 0px 33px 0px #6f95ff;
}

// Create
.ms_create{
    color: #ffff;
}

.my_btn_delete:hover{
    box-shadow: 2px 0px 33px 0px #c01010;
}
.my_btn_delete{
    border: 1px solid #c01010;
}